<html>
<head>

<title>Botmap v1.0</title>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>

	<div id="map-canvas"></div>
	<script src="/assets/js/map.js"></script>

<script>

points = [fixCoords("<%= @contents[0] %>")];
initMap();

</script>

</body>

</html>